@import url('https://fonts.googleapis.com/css2?family=Playfair Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

:root {
    --light-brown: #d1a479;
    --bone: #fff5eb;
    --tan: #fadec3;
    --coffee: #8a694a;
    --subtle-green: #afcc8f;
    --mint: #e1fcdc;
    --spinach: #6b8054;
    --charcoal: #4a4a4a;
}

body {
    margin: 0;
    background-color: var(--bone);
}

nav a {
    text-decoration: none;
    color: var(--bone);
    padding: .25em .5em;
    border: solid var(--tan) 5px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-brown);
    border-bottom: var(--coffee) solid 2px;
    box-shadow: var(--coffee) 10px 0px 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Oswald', Tahoma;
    color: var(--bone);
}

.splash {
    display: flex;
    justify-content: center;
    background-color: var(--tan);
    padding: 3em;
    margin: 2% 20%;
    gap: 1em;
    border-radius: 30px 100px 30px 100px;
    box-shadow: var(--coffee) 10px 0px 10px;
    color: var(--charcoal);
}

.splash-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.splash-heading img {
    border-radius: 100px;
    border: solid var(--coffee) 4px;
    width: 200px;
}

.splash-info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.address-p {
    font-size: 1.4em;
    text-decoration: underline 2px;
}

.tag-line-p {
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
    gap: 3em;
}

.leaf-section {
    background-color: var(--mint);
    color: var(--charcoal);
    padding: 4em;
    border: solid var(--subtle-green) 5px;
    box-shadow: var(--charcoal) 5px 5px 5px;
    border-radius: 100px 30px;
}

.leaf-section h2,.project-cards h2,.project-cards h3 {
    color: var(--charcoal);
    font-family: 'Oswald', "Times New Roman";
    font-size: 2.5em;
}

.leaf-section li {
    font-size: 1.1em;
}

.leaf-section dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
    font-size: 1.1em;
}

.leaf-section a {
    text-decoration: none;
    color: var(--spinach);
    display: inline-block;
    -webkit-transition: transform 1s, color 500ms linear;
    -moz-transition: transform 1s, color 500ms linear;
    -ms-transition: transform 1s, color 500ms linear;
    -o-transition: transform 1s, color 500ms linear;
    transition: transform 1s, color 500ms linear;
}

.leaf-section a:hover {
    color: var(--subtle-green);
    transform: translateY(-10%);
}

.larger-text {
    font-size: 1.2em;
}

.project-cards {
    text-align: center;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--tan);
    border-radius: 30px;
    border: solid var(--coffee) 5px;
    box-shadow: var(--coffee) 10px 0px 10px;
    padding: 1em 3em;
}

.card h3 {
    width: 100%;
    background-color: var(--light-brown);
    font-size: 1.8em;
    border-bottom: solid var(--coffee) 3px;
}

.card li {
    text-align: initial;
    margin-bottom: 1em;
    font-family: 'Playfair Display', "Times New Roman";
}

.card img {
    width: 70%;
    margin: 2em auto 0 auto;
    border-radius: 20px;
}

.header {
    text-align: center;
    font-family: 'Oswald', "Times New Roman";
    font-size: 1.5em;
}

.one-col {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 1em;
    font-family: 'Playfair Display', "Times New Roman";
}

.one-col input {
    width: 40%
}

footer {
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: var(--charcoal);
    padding: 2em;
}

footer a {
    text-decoration: none;
    color: var(--bone);
    font-size: 1.2em;
    padding: .25em .5em;
    border: solid var(--light-brown) 3px;
}

.button-change {
    display: inline-block;
    -webkit-transition: transform 1s, color 500ms linear, border-color 500ms linear;
    -moz-transition: transform 1s, color 500ms linear, border-color 500ms linear;
    -ms-transition: transform 1s, color 500ms linear, border-color 500ms linear;
    -o-transition: transform 1s, color 500ms linear, border-color 500ms linear;
    transition: transform 1s, color 500ms linear, border-color 500ms linear;
}

.button-change:hover {
    color: var(--coffee);
    transform: translateY(10%);
    border-color: var(--coffee);
}

.font-oswald {
    font-family: 'Oswald', Tahoma;
}

.font-play {
    font-family: 'Playfair Display', "Times New Roman";
}